@font-face {
  /* https://github.com/yuru7/udev-gothic/blob/main/LICENSE */
  font-family : "UDEV Gothic 35";
  src         : url("/static/font/UDEVGothic_v1.3.1/UDEVGothic35-Regular.ttf") format("truetype");
}

$minWidth : 440px;
body {
  font-family      : "UDEV Gothic 35", sans-serif;
  font-size        : 1rem;
  line-height      : 1;
  min-width        : $minWidth;
  height           : auto;
  background-color : #ddd;
}

#wrap {
  display        : flex;
  flex-direction : column;
  width          : 100%;
  min-height     : 100vh;
}

* {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

a {
  display         : inline-block;
  text-decoration : none;
  color           : unset;
}

h1, h2, h3, h4 {
  font-weight : unset;
}

ul {
  list-style : none;
}

img {
  display    : block;
  object-fit : cover;
}