@import "../func";

main {
  @include responsive(padding, 70px 100px, 70px 60px, 70px 20px);
  flex             : auto;
  width            : 95%;
  min-width        : 300px;
  margin           : 0 auto 0 auto;
  background-color : #fff9;
  box-shadow       : 1px 0 5px #bbb;

  h2 {
    font-size     : 2rem;
    width         : 300px;
    margin-top    : 80px;
    margin-bottom : 50px;
    padding       : 0 20px;
    border-bottom : 2px solid #888;
  }

  .pages {
    display         : flex;
    justify-content : center;
    width           : 100%;

    div {
      width : 150px;

      a {
        padding       : 0 10px;
        border-bottom : 1px #111 solid;
      }
    }
  }
}