@charset "UTF-8";
main {
  max-width : 1500px;

  ul {
    display : flex;

    li {
      width            : 300px;
      margin           : 5px;
      padding          : 10px;
      border           : 1px solid #ccc;
      border-radius    : 5px;
      background-color : #ddd;

      img {
        width  : 100%;
        height : auto;
      }

      h3 {
        font-size     : 1.3rem;
        width         : fit-content;
        max-width     : 100%;
        margin        : 20px 0;
        padding       : 0 10px;
        border-bottom : 2px #888 solid;
        text-overflow : ellipsis;
        overflow      : hidden;
        white-space: nowrap;
      }

      p {
        margin : 10px 5px;
        text-overflow : ellipsis;
        overflow      : hidden;
        white-space: nowrap;
      }
    }
  }
  .pages{
    margin: 60px 0;
  }
}