@charset "UTF-8";
main {
  max-width : 1500px;

  ul {
    display   : flex;
    flex-wrap : wrap;
    width : 100%;

    li {
      overflow         : hidden;
      width            : 300px;
      margin           : 5px;
      border           : 1px solid #ccc;
      border-radius    : 5px;
      background-color : #ddd;

      img {
        display : block;
        width   : auto;
        height  : 180px;
        margin  : 0 auto;
      }

      h3 {
        font-size     : 1.3rem;
        overflow      : hidden;
        width         : fit-content;
        max-width     : 100%;
        margin        : 20px 10px;
        padding       : 0 10px;
        white-space   : nowrap;
        text-overflow : ellipsis;
        border-bottom : 2px #888 solid;
      }

      p {
        overflow      : hidden;
        margin        : 10px 15px 20px 15px;
        white-space   : nowrap;
        text-overflow : ellipsis;
      }
    }
  }

  .pages {
    margin : 60px 0 0 0;
  }
}