{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/create.css" %}">
{% endblock %}

{% block main %}
  <h2>背景投稿</h2>
  <form method="post" enctype="multipart/form-data">


    {% csrf_token %}
    {% if form.errors %}
      <div class="err"><strong>{{ form.errors }}</strong></div>
    {% endif %}


    <div>
      <label for="name">背景名</label>
      <span class="separator">:</span>
      <input type="text" name="name" id="name" required>
    </div>

    <div>
      <label for="description">説明</label>
      <span class="separator">:</span>
      <textarea name="description" id="description"></textarea>
    </div>

    <div>
      <label for="file">ファイル</label>
      <span class="separator">:</span>
      <input type="file" name="file" id="file" required>
    </div>


    <button type="submit">投稿する</button>


  </form>
{% endblock %}
