{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/mcwall/index.css" %}">
{% endblock %}
{% block main %}

  <h2>Mcwallとは</h2>
  <p>mcwallとは、minecraftに関するPCの背景画像を投稿・ダウンロードできるサービスです。</p>
  <h2>最近の投稿</h2>
  <ul>
    {% for image in imagemodel_list %}
      <li>
        <img src="{{ image.file.url }}" alt="{{ image.name }} image"/>
        <h3>{{ image.name }}</h3>
        <p>{{ image.description }}</p>
      </li>
    {% endfor %}
  </ul>

  <div class="pages">

    <div>
      {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
      {% endif %}
    </div>

    <div>
      Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </div>

    <div>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}
    </div>

  </div>

{% endblock %}
