{% load static %}
<link rel="stylesheet" href="{% static "css/common.css" %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}django work{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <script defer src="script/main.js"></script>
  </head>

  <body>

    <div id="wrap">
      <header>
        {% block header %}

          <nav>
            {% block nav %}
              <ul>
                <li><h1><a href="{% url "mcwall:index" %}">Mcwall</a></h1></li>
                <li><a href="{% url "mcwall:create" %}">投稿</a></li>
              </ul>

            {% endblock %}
          </nav>

        {% endblock %}
      </header>

      <main>
        {% block main %}{% endblock %}
      </main>

      <footer>

        <div>
          <p>
            <span class="label">contact</span>:
            <span>contact@kigawa.net</span>
          </p>
        </div>
        <p id="copy">
          copyright &copy;
          <script>document.write(new Date().getFullYear().toString())</script>
          Atsuki Ogawa. All rights reserved.
        </p>

      </footer>

    </div>

  </body>
</html>
