{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/create.css" %}">
{% endblock %}

{% block main %}
  <h2>背景投稿</h2>
  <form method="post" enctype="multipart/form-data">


    {% csrf_token %}
    {% if form.errors %}
      <div class="err"><strong>{{ form.errors }}</strong></div>{% endif %}


    <div>
      <label for="username">ユーザー名</label>
      <span class="separator">:</span>
      <input type="text" name="username" id="username" required>
    </div>

    <div>
      <label for="password">パスワード</label>
      <span class="separator">:</span>
      <textarea name="password" id="password"></textarea>
    </div>

    <button type="submit">登録</button>


  </form>
{% endblock %}
